@import "bootstrap/bootstrap.less";

nav.affix {
  top: 0;
}

dl {
  .dl-horizontal;
}

.nav-tabs {
  margin-bottom: 10px;
}

// hide headings in tab panes
.tab-pane h3 {
  position: absolute;
  left: -9999px;
}

.documentation {
  .makeRow();
  aside {
    .makeColumn(2);
    min-height: 1px;
  }
  section {
    .makeColumn(10);
  }
}

// FOUC prevention
body {
	opacity: 0;
	.transition(opacity 0.2s ease-out);
}

.no-js body, body.ready {
	opacity: 1;
}