@import "bootstrap/reset.less";
@import "variables.less";
@import "bootstrap/mixins.less";
@import "bootstrap/scaffolding.less";
@import "bootstrap/grid.less";
@import "bootstrap/layouts.less";
@import "bootstrap/type.less";
@import "bootstrap/code.less";
@import "bootstrap/forms.less";
@import "bootstrap/tables.less";
@import "fontawesome/font-awesome.less"; // replaces bootstrap/sprites.less
@import "bootstrap/dropdowns.less";
@import "bootstrap/wells.less";
@import "bootstrap/component-animations.less";
@import "bootstrap/close.less";
@import "bootstrap/buttons.less";
@import "bootstrap/button-groups.less";
@import "bootstrap/alerts.less";
@import "bootstrap/navs.less";
@import "bootstrap/navbar.less";
@import "bootstrap/breadcrumbs.less";
@import "bootstrap/pagination.less";
@import "bootstrap/pager.less";
@import "bootstrap/modals.less";
@import "bootstrap/tooltip.less";
@import "bootstrap/popovers.less";
@import "bootstrap/thumbnails.less";
@import "bootstrap/labels-badges.less";
@import "bootstrap/progress-bars.less";
@import "bootstrap/accordion.less";
@import "bootstrap/carousel.less";
@import "bootstrap/hero-unit.less";
@import "bootstrap/utilities.less";

@import "bootstrap/responsive-utilities.less";
@import "bootstrap/responsive-768px-979px.less";
@import "bootstrap/responsive-767px-max.less";
@import "bootstrap/responsive-navbar.less";

// apply a natural box layout model to all elements
// http://paulirish.com/2012/box-sizing-border-box-ftw/
* {
  .box-sizing(border-box);
}

/**
 * Override some Bootstrap defaults
 */

body {
  background-image: url('../images/brushed_alu.png');
  @media (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
  }
}

code {
  color: @gray;
  padding: inherit;
  border: none;
  background-color: transparent;
}

code, pre {
  font-size: @baseFontSize - 1;
}

dt code {
  font-size: @baseFontSize;
  font-weight: 400;
}

pre.prettyprint, code.prettyprint {
  background-image: url('../images/dirty_old_shirt.png');
  background-color: @grayDarker;
}

dl {
  .dl-horizontal;
}

.affix, .affix-bottom {
  top: 15px;
  width: inherit;
}

.affix-bottom {
  position: fixed;
}

// hide headings in tab panes
.tab-pane h3 {
  position: absolute;
  left: -9999px;
}

.icon-rec:before {
  content: "\2b24";
  font-size: 24px;
  vertical-align: text-top;
  line-height: 43px;
}

/**
 * Stylistic mixins
 */

.blackMetal {
  #gradient > .vertical-three-colors(darken(@grayDarker, 5%), @grayDark, 25%, darken(@grayDarker, 10%));
}

.emboss {
  color: @black;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
}

.glow(@color: @white) {
  color: @color;
  text-shadow: 0 1px 0 fadeout(@color, 90%), 0 0 30px fadeout(@color, 60%);
}

.sticker {
  font-family: @scriptFontFamily;
  text-transform: uppercase;
  background-color: @white;
  border-style: solid;
  border-width: 2px;
  border-color: @grayDarker;
  .border-radius(4px);
  -webkit-backface-visibility: hidden;
}

.sticker-horizontal {
  .sticker;
  border-right-width: 48px;
  position: relative;
  padding: 15px;
  &:after {
    position: absolute;
    right: -52px;
    color: @grayLighter;
    font-family: @logoFontFamily;
    font-size: 28px;
    font-weight: bold;
    line-height: 52px;
    content: "\3b2 eta";
    text-transform: none;
    .rotate(270deg);
  }
}

/**
 * Specific page sections
 */

// GitHub banner
#forkme {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.documentation {
  @media (max-width: 767px) {
    margin-left: 20px;
    margin-right: 20px;
  }
  h2, h3, h4 {
    margin: 24px 0 12px;
    line-height: 1.1;
  }

  #doc-index {
    min-height: 1px;
    nav {
      font-size: 24px;
      .sticker;
      .rotate(1deg);
      h2 {
        background-color: @grayDarker;
        color: @grayLighter;
        text-transform: none;
        font-family: @logoFontFamily;
        font-size: 30px;
        margin-top: 0;
        padding: 8px 12px 12px;
      }
      .nav-list {
        text-transform: uppercase;
        padding: 0;
        margin: 15px;
        @media (min-width: 980px) {
          list-style: decimal-leading-zero inside;
        }
        li {
          border-bottom: 1px solid @tableBorder;
        }
      }
    }
  }
  #doc-content {
    h2 {
      .sticker-horizontal;
      font-size: 48px;
      margin: 36px 0 24px;
      &:first-child {
        margin-top: 12px;
      }
      &:first-of-type { .rotate(-0.25deg); }
      &:nth-of-type(2) { .rotate(-0.5deg); }
      &:nth-of-type(3) { .rotate(0.25deg); }
      &:nth-of-type(4) { .rotate(-0.25deg); }
      &:nth-of-type(4) { .rotate(-0.75deg); }
      &:nth-of-type(5) { .rotate(0.5deg); }
      &:nth-of-type(6) { .rotate(-0.25deg); }
      &:nth-of-type(7) { .rotate(-0.75deg); }
      &:nth-of-type(8) { .rotate(1deg); }
      &:nth-of-type(9) { .rotate(0.25deg); }
      &:nth-of-type(10) { .rotate(0.5deg); }
    }

    .navbar {
      margin-bottom: 0;
      .navbar-inner {
        .border-radius(4px 4px 0 0);
      }
    }

    .tab-content {
      .well;
      .border-radius(0 0 4px 4px);
      border-top: none;
    }

    .tab-pane {
      > :last-child {
        margin-bottom: 0;
      }
    }

  }
}

header {
  .blackMetal;
  .box-shadow(0 1px 4px rgba(0,0,0,.065));
  color: @grayLight;

  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;

  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-unit {
    background-color: transparent;
    padding: 0;
    h1 {
      font-family: @logoFontFamily;
      font-size: 80px;
      .emboss;
    }
  }

  h3 {
    font-family: @logoFontFamily;
    font-size: 36px;
    .emboss;
  }
  .icon-rec {
    .glow(red);
  }
  .icon-play {
    .glow(greenyellow);
  }
  .icon-eject {
    .glow(cyan);
  }
}

footer {
  .blackMetal;
  margin-top: 24px;
  padding-top: 12px;
  font-family: @logoFontFamily;
  font-size: 20px;
  .emboss;

  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  a {
    color: inherit;
    font-size: 24px;
    margin-left: 6px;
    .transition(all .2s linear);
    &:hover {
      text-decoration: none;
    }
    &[href^="http://twitter.com"]:hover {
      .glow(cyan);
    }
    &[href^="https://github.com"]:hover {
      .glow(greenyellow);
    }
    &[href^="http://blog.freeside.co"]:hover {
      .glow(orange);
    }
  }
}

// FOUC prevention
body {
	opacity: 0;
	.transition(opacity 0.2s ease-out);
}

.no-js body, body.ready {
	opacity: 1;
}
